#include "roBa.dtsi"
#include <dt-bindings/zmk/modifiers.h>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios = 
        <&xiao_d 10 GPIO_ACTIVE_HIGH>,
        <&xiao_d 9 GPIO_ACTIVE_HIGH>,
        <&xiao_d 8 GPIO_ACTIVE_HIGH>,
        <&xiao_d 7 GPIO_ACTIVE_HIGH>,
        <&gpio0 10 GPIO_ACTIVE_HIGH>;
};

/ {
    behaviors {
        custom_a_ctrl: custom_a_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            flavor = "mod-tap";
            bindings = <&kp A>;
            mods = <MOD_LCTL>;
            tapping-term-ms = <300>;
            hold-tap-behavior = "tap-preferred";
        };

        custom_z_shift: custom_z_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            flavor = "mod-tap";
            bindings = <&kp Z>;
            mods = <MOD_LSFT>;
            tapping-term-ms = <300>;
            hold-tap-behavior = "tap-preferred";
        };
    };
};
